<h1>Books</h1>
<h4>Title</h4>
<h4>Body</h4>
<% @bookers.each do |booker| %>
 <p>Title</p>
  <span><%= booker.title %></span>
 <p>Body</p>
  <span><%= booker.body %></span>
  <%= link_to "show", booker_path(booker.id) %>
  <%= link_to "edit", edit_booker_path(booker.id) %>
  <%= link_to "destroy", destroy_booker_path(booker.id), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
